[2017-09-21 22:04] vchouksey opened #1 "TypeError: __init__() got an unexpected keyword argument 'input_dtype'"
getting error while running command "model = EmotionPredictor(classification='ekman', setting='mc')"

[2017-09-24 19:11] nikicc commented on #1
Can you post the whole stack trace? Which version of Keras are you using? The code was only tested with `keras==1.1.0` so other versions might cause issues.

[2017-09-28 07:48] vchouksey commented on #1
Keras==1.1.0
tensorflow==1.0.0
tensorflow-tensorboard==0.1.6
Theano==0.10.0

Also your emotion predictor code, line number ->self.model.layers[0].input eras does not able to read model first layers hence throw error as
<img width="1107" alt="keras error" src="https://user-images.githubusercontent.com/6507341/30954869-12f3468a-a432-11e7-9600-d00d4e65799f.png">

self.classification = ekman
   self.s

[2017-09-28 18:52] vchouksey commented on #1
Thanks Final got success

[2017-09-28 18:53] vchouksey opened #2 "How you making Trained RNN model?"
How you making Trained RNN model, if possible upload code you using to make trained RNN model.

[2017-09-28 19:56] nikicc commented on #1
@vchouksey how did you solved it? Just in case, someone else stumbles upon the same issue.

[2017-09-28 19:56] #1 closed

[2017-09-28 19:57] nikicc commented on #2
More details about the models will soon be released in a paper, which I will link once it get published.

[2017-09-29 04:26] ShreyaKhare opened #3 "ValueError: Optimizer weight shape (6,) not compatible with provided weight shape (800, 6)"
I get this error when i try to load an existing model.

[2017-09-29 07:50] nikicc commented on #3
Can you please paste the whole stack trace? Also are you on Keras version 1?

[2017-10-03 05:43] ShreyaKhare commented on #3
Can you specifiy tensorflow and keras version that was used for training

[2017-10-09 09:30] nikicc commented on #3
We only used Theano, no Tensorflow. I think most experiments were run on Theano `0.8.2`.

[2017-12-14 06:05] VinodPathak commented on #1
Hi, I am facing the same issue. Can you tell how did you solve it?
I have tested on keras=1.1.0, tensorflow backend=1.2.1, tried in python2 and python3.

[2017-12-14 06:34] VinodPathak commented on #1
I solved the issue:-
keras=1.1.0
theano=0.9.0

I am searching, if this works with tensorflow backend?

[2017-12-14 17:54] nikicc commented on #1
@VinodPathak, I’ve never tried it with Tensorflow. Let me know how this goes if you try it out.

[2018-02-10 23:02] dharathakkar5 opened #4 "Trained RNN models"
How did you train the models? Did you publish the paper yet? Can you share some ideas?

[2018-02-11 18:26] nikicc commented on #4
@dharathakkar5 the paper just got accepted today 🎉 IIUC the preprint will be available on journal's website in few weeks. As soon as it is, I'll link it here.

[2018-02-11 18:32] dharathakkar5 commented on #4
Thanks and Congratulations. Looking forward to it.

[2018-02-22 21:18] nikicc commented on #4
@dharathakkar5 here is the preprint of the paper: http://ieeexplore.ieee.org/document/8295234/

[2018-02-22 21:18] #4 closed

[2018-02-22 21:19] nikicc commented on #2
@vchouksey the preprint of the paper is available: http://ieeexplore.ieee.org/document/8295234/

[2018-02-22 21:19] #2 closed

[2018-02-26 10:07] ghost commented on #3
I have Keras installed. Can I use Keras here to implement the codes?

[2018-02-26 20:34] nikicc commented on #3
@HangsunKim not sure I understand the question. You need `keras==1.1.0` and `pandas` installed, as stated in [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt). After that, you should be able to run the code. Check the [example of usage](https://github.com/nikicc/twitter-emotion-recognition#example-usage).

[2018-02-26 21:05] ghost commented on #3
@nikicc Thanks for your reply. I have the pandas and keras library installed. I've always done deep learning by importing keras, as tensforflow as the backend. I think then I'll be able to run the codes then. I asked this question because you somewhere indicated that the codes are run on theano. That was my concern.

[2018-02-26 21:25] nikicc commented on #3
Yes, the models were trained using Keras with Theano backend. I'm not sure if the models can be loaded and used with Tensorflow for not. Let me know if this will work for you on Tensorflow.

[2018-02-27 00:33] ghost commented on #3
@nikicc   I'm trying to run the demo codes with Theano as backend.
I found a way to change the backend engine easily from Tensorflow to Theano.
But, when I run the first line of codes.
I get this error, ImportError: No module named html

Do you know what could be wrong and how I could fix this? Thanks in advance.

[2018-02-27 08:12] nikicc commented on #3
Are you sure you're on Python 3? `html` is a standard Python's [library](https://docs.python.org/3/library/html.parser.html).

[2018-02-27 21:28] ghost commented on #3
@nikicc   Oh, I was using python 2.7. Okay, so I tried on python 3.6, but now I get the
error ModuleNotFoundError: No module named 'theano'.
Do I just do "pip install theano" in my command prompt?

[2018-02-27 21:30] nikicc commented on #3
To be sure, use the same version of Theano that I did: `pip install theano==0.8.2` should do it.

[2018-02-27 21:38] ghost commented on #3
@nikicc Thanks, I installed theano 0.8.2 but now I get the below error. Are you familiar with this error?
. collect2.exe: error: ld returned 1 exit status status=1): C:\Users\Anaconda3\libs/python36.lib: error adding symbols: File in wrong format

[2018-02-27 21:43] nikicc commented on #3
@HangsunKim no idea what that error is about, sorry.

[2018-02-27 21:59] ghost commented on #3
@nikicc   It's okay.. I'm in Python 3.6. May I know which python version you are using? Thanks.

[2018-02-27 22:35] nikicc commented on #3
I think I was on 3.6 as well.

[2018-02-28 05:50] ghost commented on #3
I now get this error.
ValueError: Tensor conversion requested dtype int32 for Tensor with dtype float32: 'Tensor("embedding_1/random_uniform:0", shape=(412, 25), dtype=float32)'
I was wondering if you know this error.
I referred to
https://github.com/keras-team/keras/issues/7460.
However, there's no clear solution to it..

[2018-02-28 08:11] nikicc commented on #3
Don't know. Are you sure you are on `keras==1.1.0`?

[2018-03-17 17:33] SidShenoy opened #5 "AttributeError: module 'tensorflow' has no attribute 'python'"
Whenever I try to execute the following statement:

model = EmotionPredictor(classification='ekman', setting='mc')

I get the above-mentioned error. Please resolve.

![image](https://user-images.githubusercontent.com/18630586/37558293-8dec57f6-2a37-11e8-93b0-01dcf3fff374.png)

[2018-03-20 13:11] faizankhan29 commented on #5
I am getting the same error,please resolve.

[2018-03-20 22:37] nikicc commented on #5
Not sure what the error is, but it looks like something related to tensorflow. The code from this repo is meant to be run on Theano, not tensoflow. Check [requirements.txt file](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt)

[2018-03-20 22:37] #5 closed

[2018-03-29 16:58] SidShenoy commented on #5
simply upgrade keras
pip3 install --upgrade keras
this should do it.

[2018-03-29 17:29] SidShenoy commented on #3
Hey! @HangsunKim Finally solved this issue. Follow these steps:

1. Only install the packages mentioned in requirements.txt (with the exact same versions) and no other package (like tensorflow). Uninstall tensorflow if already installed.

2. Change the backend of 'keras' from 'tensorflow' to 'theano'. Instructions to do  this have been mentioned on the 'keras' website (https://keras.io/backend/):

[2018-03-29 20:14] nikicc commented on #3
@SidShenoy  thanks for posting this!

[2018-04-12 14:41] jhaozz commented on #3
I couldn't install the version, any problem? it says 'could not find a version that satisfies the requirement emotion_predictor (from versions: ) No matching distribution found for emotion_predictor.'

[2018-05-30 15:09] basitanwer commented on #5
Upgraded keras. Now I am getting the following error

`ValueError: Tensor conversion requested dtype int32 for Tensor with dtype float32: 'Tensor("embedding_1/random_uniform:0", shape=(412, 25), dtype=float32)'`

[2018-05-30 17:37] basitanwer commented on #5
Problem solved. I just had to change the backend to `theano`

For linux go to `$HOME/.keras/keras.json`

and change the backend value from `tensorflow`

[code]

[2019-01-11 05:25] sabidhasan opened #6 "Incompatibility with new keras"
It seems like this package is no longer compatible with the new version of keras (which is included with Tensorflow). I am unable to run with Python 3.6, both on and off anaconda

[2019-01-11 09:44] nikicc commented on #6
@sabidhasan I haven't tried it with the new version of Keras. Can you try with the versions which are specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file?

[2019-02-14 17:18] venkatshan707 commented on #3
sir please give where i want to run the following code :  in jupiter notebook or anaconda prompt

[2019-02-14 17:21] venkatshan707 commented on #3
these codes:

    "Watching the sopranos again from start to finish!",
    "Finding out i have to go to the  dentist tomorrow",
    "I want to go outside and chalk but I have no chalk",
    "I HATE PAPERS AH #AH #HATE",
    "My mom wasn't mad",
    "Do people have no Respect for themselves or you know others peoples homes",
]

[2019-02-14 17:23] venkatshan707 commented on #3
![screenshot 320](https://user-images.githubusercontent.com/30896136/52804856-4532aa80-30ab-11e9-8093-8e0dd1ea8068.png)
![screenshot 321](https://user-images.githubusercontent.com/30896136/52804858-45cb4100-30ab-11e9-9f4d-5f995c262958.png)

[2019-02-14 17:23] venkatshan707 commented on #3
i got those errors while running through jupitter notebook

[2019-02-17 12:48] nikicc commented on #3
@venkatshan707 seem like the issue is in the backend your Keras is trying to use. According to the above screenshots your Keras wants to invoke a `tensorflow` backend, while you will need to use `theano` backend to use the emotion predictiors from this repository. More precisely, you'll need `theano==0.8.2` (see the [requirements file](https://github.com/nikicc/twitter-emotion-recognition/blob/mas

[2019-02-17 13:01] venkatshan707 commented on #3
Sir,after setting a background from where we want to start our code
execution.I am just started to learn(very beginner) data science.I am doing
my final year project with your code. I failed to execute your code. Can
you please,send user manual of that code execution (or) please,teach me how
we want to execute our code in step by step manner using TeamViewer or
anydesk.please I tried my level best

[2019-02-17 14:20] nikicc commented on #3
@venkatshan707 if you set the backend up, then you should be able to start the code either from Jupiter or python script. What is the error you are seeing now after the backend has been set?

Sorry but I don't have any user manual I could share with you.

[2019-02-18 09:41] venkatshan707 commented on #3
sir ,can you please help me with teamviewer .

[2019-02-18 09:41] venkatshan707 commented on #3
just 10 mins

[2019-02-19 20:17] nikicc commented on #3
@venkatshan707 I think it's easier if we keep the communication here. What is the error you are seeing now?

[2019-02-25 18:53] lcarnevale commented on #6
The versions specified in the requirements.txt require tensorflow installed. Last version (1.12.0) raises this exception:
`AttributeError: module 'tensorflow' has no attribute 'python'`

What is the tensorflow version used for your project?

[2019-02-26 09:06] nikicc commented on #6
@lcarnevale Theano was used for this project, not Tensorflow. Can you try with `keras==1.1.0` & `theano==0.8.2` as I'm not sure whether it works or not with other versions. Also, keep in mind that you might need to configure Keras to use the Theano backend and not the Tensorflow.

[2019-02-27 14:53] lcarnevale commented on #6
Because of a Numpy Theano incompatibility, `theano==0.8.2` raises the following exception:
`AttributeError: ('The following error happened while compiling the node', DotModulo(A, s, m, A2, s2, m2), '\n', "module 'numpy.core.multiarray' has no attribute '_get_ndarray_c_version'")`

Your application is working for me with this configuration:
[code]

Many thanks for your help.

[2019-02-28 21:27] nikicc commented on #6
Great to hear that! And thanks for posting the env config that works for you, it might be helpful to others.

[2019-03-02 01:22] grafixoner commented on #6
I can get it to run in 1.2.2.  However I'm wondering can you upgrade these to work or release the training code so we can get v2 keras models?

[2019-03-03 17:49] nebupulickal commented on #6
@lcarnevale i am  getting an error after installing the packages mentioned
Using Theano backend.
Traceback (most recent call last):
  File "demo.py", line 12, in <module>
    model = EmotionPredictor(classification='ekman', setting='mc', use_unison_model=True)
  File "/home/pi/Desktop/twitter-emotion-recognition-master/emotion_predictor.py", line 31, in __init__
    self.model = self._get_model()

[2019-03-03 17:55] nikicc commented on #6
@grafixoner not sure I can tackle that any time soon, sorry. If you got it to work in 1.2.2 than you should be able to see all the trained weights, which can probably be transfered into newest version somehow.

[2019-03-03 17:56] nikicc commented on #6
@nebupulickal can you try with exactly the version that @lcarnevale posted in above comment. IIUC using that versions should work.

[2019-03-03 18:09] nebupulickal commented on #6
@nikicc solved the issue :)... Install the package libhdf5-100
_sudo apt install libhdf5-100_

[2019-03-03 18:09] nebupulickal commented on #6
@nikicc thanku :)

[2019-03-04 09:01] nikicc commented on #6
@nebupulickal happy to hear that!

[2019-04-01 08:18] alanj250 commented on #6
When i executed the code demo.py in ubuntu 18.0.4 , its not running with theano. It gives using tensorflow as backend and throwing error no module named tensorflow. How is it possible to execute the code using theano in ubuntu 18.0.4.. set the environment as given in this loop above.

[2019-04-01 08:37] alanj250 commented on #6
Can anyone help me with the version of ubuntu the code is working. Will this work in python 3

[2019-04-01 09:54] nikicc commented on #6
@alanj250 check this for how to set the backend Keras will use: https://stackoverflow.com/questions/42177658/how-to-switch-backend-with-keras-from-tensorflow-to-theano

Also, it will work in python 3.

[2019-04-01 11:48] alanj250 commented on #6
@nikicc thank u... It worked... Is it possible to make it work with latest keras and tensorflow backend ?

[2019-04-01 12:14] nikicc commented on #6
@alanj250 probably possible, but I think it's not trivial. Let me know how it will go if you decide to try it.

[2019-04-01 13:08] sabidhasan commented on #6
If you want I can take a stab at porting it to the latest version of TF,
and I'll make a PR.

Abid

On Mon, Apr 1, 2019, 6:14 AM nikicc <notifications@github.com wrote:

[2019-04-01 13:36] grafixoner commented on #6
That would be cool, I was gonna tackle doing the same at some point.

Looking forward to the pull request!

[2019-04-01 14:55] alanj250 commented on #6
@sabidhasan waiting for that. Thanku to all

[2019-04-11 03:00] TTTJJJWWW opened #7 "about twitter dataset with label"
@nikicc Can you provide the link for twitter dataset with emotion label for further research? Thanks！

[2019-04-11 18:24] nikicc commented on #7
Hi @TTTJJJWWW, unfortunately, I cannot share my data sets.

[2019-04-11 18:24] #7 closed

[2019-04-29 07:02] akarsh30 commented on #6
Hi can anyone please tell me the sequence in which the files needed to be run?
ALso when i am running demo.py this error is being raised. Please help
![Screenshot (150)](https://user-images.githubusercontent.com/41483461/56880539-d4304b80-6a7a-11e9-9f0c-d340bdfc3e56.png)
![Screenshot (151)](https://user-images.githubusercontent.com/41483461/56880540-d4304b80-6a7a-11e9-8c64-b053516b9794.png)

[2019-04-29 08:12] nikicc commented on #6
@akarsh30 are you sure you have the right version of the dependencies? Check [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file.

[2019-04-29 08:31] willyjospel commented on #6
@akarsh30 set everything correctly.

[2019-04-29 08:55] akarsh30 commented on #6
Yes I have keras 1.1.0
and Theano 0.8.2

[2019-04-29 09:08] willyjospel commented on #6
you can mail @ willyjospel@gmail.com the error screenshot.

[2019-04-30 05:03] akarsh30 commented on #6
I am getting this error. How can I fix it?
![Screenshot (154)](https://user-images.githubusercontent.com/41483461/56941639-6ac04380-6b33-11e9-9710-c764b63dbe5c.png)

[2019-04-30 08:32] nikicc commented on #6
@akarsh30 not really sure, but the fact that there is the name `tensorflow` in the exception message suggests, that you might be using Tensorflow backend instead of Theano.

Check these and make sure you're running Keras with Theano backend and not Tensorflow:
* https://stackoverflow.com/questions/42177658/how-to-switch-backend-with-keras-from-tensorflow-to-theano
* https://keras.io/backend/

[2019-05-31 01:49] t855001 opened #8 "ValueError: Unknown layer: Merge"
I am getting this error when I run demo.py.

Using TensorFlow backend.
/usr/local/lib/python3.6/dist-packages/keras/engine/base_layer.py:1109: UserWarning: Update your `InputLayer` call to the Keras 2 API: `InputLayer(batch_input_shape=[None, 143..., name="input_1", sparse=False, dtype="float32")`
  return cls(**config)
/usr/local/lib/python3.6/dist-packages/keras/engine/base_layer.py:1109: UserWa

[2019-05-31 08:06] nikicc commented on #8
@t855001 it seems that you're using the TensorFlow backend while the models in this repo were trained using Theano backend and hence do not work with TensorFlow.

Make sure to install the dependencies that are specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file. Then, also make sure you configure Keras to use the Theano backe

[2019-05-31 08:08] #8 closed

[2019-06-05 08:19] t855001 commented on #8
@nikicc  Thank you for answering,

I changed backend to Theano.

But I am getting this error.

/Users/beta/.pyenv/versions/3.6.1/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as

[2019-06-05 15:30] nikicc commented on #8
@t855001 Keras should be at version `keras==1.1.0` not 2.2.4; see [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file. I suggest you uninstall Keras and install `keras==1.1.0`.

[2019-06-06 05:47] t855001 commented on #8
Thank you,

I succeeded.

[2019-08-16 22:32] lilanleo commented on #6
Same error of unknow layer: Merge, how did you fix it? I'm sure I got every dependencies right and python==3.6

[2019-08-23 11:38] Sali4faizi opened #9 "Name Error : h5py"
**Please help me solve the issue**

runfile('C:/Users/iiitmk/Emotion_recognition/demo.py', wdir='C:/Users/iiitmk/Emotion_recognition')
Reloaded modules: emotion_predictor
Traceback (most recent call last):

  File "<ipython-input-80-b3b5b5b514e8>", line 1, in <module>
    runfile('C:/Users/iiitmk/Emotion_recognition/demo.py', wdir='C:/Users/iiitmk/Emotion_recognition')

  File "C:\Users\iiitmk\Ana

[2019-08-23 15:03] nikicc commented on #9
@Sali4faizi it seems that the `h5py` dependency is missing. Try to install it with `pip install h5py`, if that doesn't work, please check [this section of Keras documentation](https://keras.io/getting-started/faq/#how-can-i-install-hdf5-or-h5py-to-save-my-models-in-keras).

[2019-08-23 15:04] nikicc commented on #9
Oh wait ... you are on Conda. Then use this instead of pip: `conda install h5py`.

[2019-08-26 04:27] Sali4faizi commented on #9
@nikicc  Thanks for your quick reply...h5py is already installed...but still showing this name error

[2019-08-26 08:29] nikicc commented on #9
@Sali4faizi so if you try to import it in a python shell it works? Try do double check if importing it works as expected by opening a Python interpreter and type this:

[code]

[2020-03-16 10:33] drcs8283 commented on #3
how to import emotion predicator module...

[2020-03-16 11:18] nikicc commented on #3
@chandrasekhar8283 see https://github.com/nikicc/twitter-emotion-recognition#example-usage

[2020-03-17 06:03] Mounika2825 commented on #3
how to import emotion predicator module...
i found this error while importing
ModuleNotFoundError: No module named 'emotion_predictor'

[2020-03-17 12:31] nikicc commented on #3
@Mounika2825 are you in the correct folder when executing your code? The [example](https://github.com/nikicc/twitter-emotion-recognition#example-usage) assumes you are in the same folder where the [emotion_predictor.py](https://github.com/nikicc/twitter-emotion-recognition/blob/master/emotion_predictor.py) file is.

[2020-03-18 05:10] Mounika2825 commented on #3
How to get accuracy by using this code..

[2020-03-18 05:14] Mounika2825 commented on #3
Thanks a lot.. i executed the code.... Can i get accuracy by using this code In models ?

[2020-03-18 05:15] Mounika2825 commented on #3
@nikicc Thanks a lot.. i executed the code.... Can i get accuracy by using this code  ?

[2020-03-18 05:34] Mounika2825 commented on #3
how can i implement this code in google colab?

[2020-03-18 10:50] nikicc commented on #3
@Mounika2825 the current code does not support calculating the accuracy. You would need to implement that yourself. Also, not sure about the google colab.

[2020-03-19 06:22] Mounika2825 commented on #3
How can i get accuracy by using models of unison

[2020-03-19 13:32] nikicc commented on #3
@Mounika2825 not sure which accuracy are you interested in. If you want to know the accuracy of the models as we estimated it, look at the [paper](https://ieeexplore.ieee.org/document/8295234) for more details; but approximately the accuracy is around 70%. If you want to know the accuracy of the model on your own data set, then you'd need to calculate that yourself.

[2020-05-06 04:27] liusong299 opened #10 "running demo.py with error ValueError: Unknown layer: Merge"
I tried to run the demo.py but meet the error "ValueError: Unknown layer: Merge"
my current keras version is 2.3.1-0
How could I use this model in keras 2 ?

[2020-08-25 04:47] polsci commented on #6
Based on this thread and particularly @lcarnevale's helpful comment https://github.com/nikicc/twitter-emotion-recognition/issues/6#issuecomment-467891717  I've got a working repo that will work with Binder with a notebook to run the code in demo.py-  see https://github.com/polsci/twitter-emotion-recognition
Have made a pull request:
https://github.com/nikicc/twitter-emotion-recognition/pull/11

[2020-08-25 14:51] nikicc commented on #6
Yes, thanks to @polsci the `requirements.txt` was updated so hopefully there will be fewer issues with the dependencies. Also, the Binder link is now added in the `README.md` file.

I think I can now close this issue, but if issues still persist for someone feel free to re-open.

[2020-08-25 14:51] #6 closed

[2020-08-25 14:54] nikicc commented on #10
@liusong299 sorry, I missed this. The code was only tested with `Keras==1.1.0` and I assume it does not work with 2.3.1-0. See the requirements file: https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt.

[2020-08-25 14:54] #10 closed

[2020-09-19 06:32] AmanKabra opened #13 "Package emotion_predictor is unavailable"
Colab says the package emotion_predictor is unavailable for download/load. Could you help me here?

[2020-09-21 07:35] nikicc commented on #13
@AmanKabra `emotion_predictor` is not on pypi, hence I guess this is why Colab says it's unavailable. You'll need to clone this repository manually, but I'm not sure how to do this in Colab.

[2020-09-21 08:47] AmanKabra commented on #13
Niki, thanks a ton for the code. I have cloned it to colab. This is such a useful package that you might want to share it to pypi!

Thanks again!

[2020-09-21 08:47] #13 closed

[2020-09-21 09:06] nikicc commented on #13
@AmanKabra you're welcome. Yes, will try to find the time to push it to pypi.

[2020-11-23 09:31] nikicc opened #14 "Add setup.py file"

[2021-02-06 09:07] khairiyah98 opened #15 "Predicting emotions for unseen tweets"
Hi, can I know if we can use these to predict emotions for any tweets? Or do we need to train them downstream?

[2021-02-06 09:44] nikicc commented on #15
Yes, the models are already trained and can be used directly.

No need. They are already trained.

[2021-02-11 18:54] Altimis opened #16 "Training script"
Thank you so moch for these briliant models. Can you please provide us with the code that you used in otder to train the models ?

[2021-02-11 21:40] nikicc commented on #16
Hi @Altimis. It's nice to hear they are useful.

About the code, I don't really have that at hand and in a format, I could easily share. Sorry about that 🙈 . However, you can see the architecture of the classifier in the models that are loaded. To train them, you can use any gradient-based method, I believe I used RMSProp.

[2021-02-11 21:42] Altimis commented on #16
Thank you @nikicc, I'll try to analyse the model's architecture. How much data did you use tho ?

[2021-02-11 21:46] nikicc commented on #16
@Altimis training data had about 320,000 examples for Ekman, 480,000 for Plutchik, and 3,900,000 for POMS.

[2021-02-11 21:48] Altimis commented on #16
Oh okey, the labeling must be hard, unless there are some opensource datasets for this kind of tasks

[2021-02-11 21:53] nikicc commented on #16
I didn't find any opensource datasets, at least not of that size.

For labelling, I used distant supervision: i.e. we search for tweets containing hashtags, used them as the target variable, removed them from the tweet content, and then train classifiers. If you're interested more into detail, check the paper — there is a link at the bottom of the [README.md](https://github.com/nikicc/twitter-emot

[2021-02-11 21:55] Altimis commented on #16
@nikicc  interesting idea ! I'll check your paper for sure. Thank you again for your work.

[2021-02-13 11:47] khairiyah98 commented on #15
Alright, thank you!

May I know what are the preprocessing steps required for the tweet input into the model? For e.g. Do I need to remove emoticons/emojis?

[2021-02-14 11:07] nikicc commented on #15
@khairiyah98 I don't think you need to do any preprocessing. Feel free to leave the emoticons in.

[2021-02-15 10:42] Akshar-code commented on #15
Hii @nikicc in your demo.ipynb file i can see you fed the tweets are a tuple
![Screenshot 2021-02-15 at 4 10 30 PM](https://user-images.githubusercontent.com/59618640/107936182-58352980-6fa8-11eb-8bf8-ec946d7bba91.png)

Im wondering how i can do this if i have a csv file with rows of tweets? please help me
![Screenshot 2021-02-15 at 4 11 40 PM](https://user-images.githubusercontent.com/59618640/10

[2021-02-15 13:46] nikicc commented on #15
Hi @Akshar-code!

It's actually a list, not a tuple. But tuple might also work, not sure 🤷‍♂️.

So if you have a file with the structure as shown in the above image, you just need to read it line by line into a list of strings. Check this [StackOverflow answers](https://stackoverflow.com/questions/3277503/how-to-read-a-file-line-by-line-into-a-list) for code snippets that do exactly this.

[2021-02-22 05:39] Akshar-code opened #17 "What is the setting parameter while choosing model?"
Hi,
I wanted to wanted to know whats the difference between ml and mc in the setting parameter?
![Screenshot 2021-02-22 at 11 09 42 AM](https://user-images.githubusercontent.com/59618640/108667001-78ac3900-74fe-11eb-84bb-991b143ce854.png)

[2021-02-22 22:35] nikicc commented on #17
@Akshar-code hi! `mc` stands for multiclass, while `ml` stands for multilabel. Briefly, in multiclass, only _one_ (the most prevalent) emotion is detected, while in multilabel a classifier can detect _multiple_ emotions in the same tweet. For more details check [this CrossValidated post](https://stats.stackexchange.com/questions/11859/what-is-the-difference-between-multiclass-and-multilabel-proble

[2021-02-22 22:35] #17 closed

[2021-03-02 11:24] khairiyah98 opened #18 "Layers used in unison-ekman-mc.h5"
Hi, may I know what are the exact settings used for the layers in the best performing character based model i.e. unison-ekman-mc.h5? Is the following description correct?

1.	Input layer
2.	Embedding layer (character embedding dimensions: 25)
3.	Dropout layer with rate 0.2
4.	LSTM layer with 400 memory units, single directional
5.	LSTM layer with 400 memory units, bidirectional
6.	Merge layer
7.	D

[2021-03-02 13:11] nikicc commented on #18
@khairiyah98 yes, that is mostly correct. Just to clarify more, and make sure this is what you had in mind: step 5. is not bidirectional, but is only single directional going backwards. So step 4. is 400 units LSTM going forward; and step 5. is 400 LSTM units going backwards.

[2021-03-02 13:11] #18 closed

[2021-03-02 14:29] jojo101793 opened #19 "Unrecognized keyword arguments error in defining the model"
Hi, when I run the following script in jupyterlab, the value error occurs. I am wondering how to fix it.

# Predictor for Ekman's emotions in multiclass setting.
model = EmotionPredictor(classification='ekman', setting='mc')

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-26-8795

[2021-03-03 10:35] nikicc commented on #19
@jojo101793 given this:

I suspect you are might be using TensorFlow as a backend, while these models work with Theano. Check [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt#L10) for exact versions of all dependencies, and make sure to [set Theano as a backend](https://stackoverflow.com/questions/42177658/how-to-switch-backend-with-keras-from-t

[2021-03-03 12:58] #19 closed

[2021-03-10 13:36] Akshar-code opened #20 "Stop words"
Hii,
I wanted to know if its better to remove stopwords before dumping the data into the models?
or is it better to use the whole sentence?

Please let me know

[2021-03-10 14:31] nikicc commented on #20
@Akshar-code no need for any preprocessing. Just dump the whole thing in.

Our models work on characters hence we pass the whole tweet without any preprocessing as an input to the RNN.

[2021-03-10 14:31] #20 closed

[2021-03-10 15:54] Akshar-code commented on #20
i just removed the hashtags and mentions, so i think it shouldnt be a problem. Where can i have a look at the training data? Atleast a peek

[2021-03-10 15:58] nikicc commented on #20
@Akshar-code unfortunately I cannot disclose the training data. Sorry for that. For a peak, check the paper (link is in the readme), there are a few examples there.

[2021-03-10 16:23] Akshar-code commented on #20
Hi,
I skimmed through your paper and it was great. I was wondering how we can host this code on google collab, im getting some errors doing the same

[2021-03-10 22:18] nikicc commented on #20
@Akshar-code I'm not that familiar with the goole collab, but check the Binder link in the Readme.md. It should take you to a running Jupiter notebook.

[2021-03-11 10:14] giulianoformisano opened #21 "AttributeError: 'str' object has no attribute 'decode'"
@nikicc Could you please help my with this?

When specifying the model:
`model = EmotionPredictor(classification='ekman', setting='mc', use_unison_model=True)`

I retrieve this error:
`AttributeError: 'str' object has no attribute 'decode'`

Please find a screenshot of the issue:
![Schermata 2021-03-11 alle 11 13 02](https://user-images.githubusercontent.com/60297728/110771416-c218ba00-825a-11eb-8

[2021-03-11 11:00] nikicc commented on #21
@giulianoformisano not really sure what this could be. The first thing I would check is if all the dependencies are exactly at the versions as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file.

[2021-03-11 11:07] giulianoformisano commented on #21
Thanks a lot for your input, @nikicc. I checked and all the dependencies are at the versions specified in the requirements.txt file. However, the issue persists.

Is there anything else that I could try? Thank you.

[2021-03-11 19:17] giulianoformisano commented on #21
@nikicc, we have solved the issue - thanks to @niklasstoehr!

Installing h5py fixed the issue:
`!pip install 'h5py==2.10.0' --force-reinstall`

[2021-03-11 19:17] #21 closed

[2021-03-11 20:00] nikicc commented on #21
@giulianoformisano happy that you fixed it and thanks for posting the fix here for others 🚀

[2021-03-23 17:32] LidingLi opened #22 "tensorflow version requirement"
Hello,

I have run the demo.py on google colab many times. It produces the error as following. The version used here is Keras 2.4.3 and tensorflow 2.4.1. Also, when I change the version of Keras to 1.1.0. It always produces package incompatible issue like " AttributeError: module ‘tensorflow’ has no attribute ‘placeholder’". So I wonder if the keras to use is 1.1.0, then what is a good tensorflow

[2021-03-24 15:33] slankas commented on #22
I've experienced this same problem.  Tensorflow actually isn't required.  There's a slight difference between the Jupyter notebook and demo app.  Add these two lines to the top of demo.py:
[code]

[2021-03-24 15:39] nikicc commented on #22
Yes, as @slankas suggested, the code cannot work with tensorflow, it requires Theano as the backend. Regarding the versions, check the [requirements.txt file](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) — if you use exactly those versions it should work.

[2021-03-24 15:53] slankas commented on #22
Here's the exact steps I used on pretty much a base Ubuntu 18.04 virtual machine:
[code]

[2021-03-24 21:28] HarrisonLL commented on #22
Resolved the issue. Thanks!!!

[2021-03-24 21:30] nikicc commented on #22
@LidingLi happy to hear that 👍

[2021-03-24 21:30] #22 closed

[2021-03-26 18:31] Ashwinneogi opened #25 "Unable to open file Error"
Hi,

I've been trying to implement your code. However, it gives me a "file not found" error. The path of the file in the error seemed to be incorrect. According to my understanding, I changed the path of the file in below code in emotion_predictor.py to the correct path
[code]
However, it still gives the same error with the earlier path name.
![error](https://user-images.githubusercontent.com/5289

[2021-03-26 20:35] nikicc commented on #25
Yes. The code assumes you are running the scrip in the top-level directory. If you are, then the `model/unison-ekman-mc.h5` should work as a relative path to the model. Please check the current working directory (e.g. with `os.getcwd()`; [see more](https://www.tutorialspoint.com/python/os_getcwd.htm)).

In theory that should work. Not really sure why it doesn't. Did you double check that the newly

[2021-03-26 22:24] Ashwinneogi commented on #25
Hello,
Thanks for the prompt reply.

The script is indeed running in the top-level directory. Infact I have set the path manually as well as shown below
[code]

Yes, as what you told, it should work as a relative path but it isn't and I am not sure why.

The other option of constructing a new path also gave me the same error. However, what is surprising is that when I choose to construct/change th

[2021-03-26 22:38] nikicc commented on #25
@Ashwinneogi it seems like the place where you execute the code on the left, is not picking up the edits you are making in the file on the right. Can you try running the `emotion_predictior.py` directly in the command line?

[2021-03-27 04:34] Ashwinneogi commented on #25
@nikicc I ran the code directly and it seems to not have any problems.
![error3](https://user-images.githubusercontent.com/52891049/112709950-f5a04900-8ed6-11eb-849b-4e3267d117e1.PNG)

[2021-03-27 18:46] nikicc commented on #25
@Ashwinneogi happy to hear this. Yes, I assumed it's something with the way the code is run. I'm closing this issue as it does not seem to be an actual code issue.

[2021-03-27 18:46] #25 closed

[2021-05-13 01:09] BingyiWu1990 opened #27 "TypeError: Unknown parameter type: <class 'theano.tensor.var.TensorVariable'>"
Dear Niki,

I was running the prediction fine until this afternoon. It starts returning me the following error after installing required environment and packages:

`!sudo apt-get install -y python3-venv
!sudo apt-get install -y python3-dev
!mkdir emotion
!cd emotion
!python3 -m venv .
!source bin/activate
!git clone https://github.com/nikicc/twitter-emotion-recognition.git
!cd twitter-emotion-reco

[2021-05-13 11:08] nikicc commented on #27
That's strange. Are you sure Colab is picking up the right dependencies and the Theano as backend?

[2021-05-13 11:10] nikicc commented on #27
Maybe this helps https://github.com/nikicc/twitter-emotion-recognition/issues/22#issuecomment-805943465?

[2021-05-13 19:13] BingyiWu1990 commented on #27
Thank you for your reply, Niki! I tried with the codes provided in #22, however, it returns me the following error:
`ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'`

Therefore, I went back to install the requirements manually using !pip install.
And when installing the required packages, the errors are shown as follows:

ERROR: pip's dependency res

[2021-05-13 19:28] BingyiWu1990 commented on #27
An update on my side:
I then tried to locate the requirements, it works but still returns similar incompatible errors.
[code]
After install --upgrade  setuptools, the following error is shown:
[code]
Then, after collecting all the packages, the following errors are shown:
[code]

[2021-05-13 19:41] BingyiWu1990 commented on #27
Thank you for your prompt reply, Niki (I deleted my previous reply and realized I also deleted my thanks lol)

Another small update on my end:

For the first error I mentioned above, I include the reinstall the folium and eliminated that error:
`!pip install folium==0.2.1`

But for other errors, I don't know what I should do. Can I install the newer versions of the packages as indicated in the err

[2021-05-14 10:51] nikicc commented on #27
Hmmm. Some things I noticed:

[code]
I'm not sure what  `datascience 0.10.6` dependency is or who requires it, but I'm pretty sure it is not required by `twitter-emotion-recognition`.

Similarly,

[code]

`tensorflow` is not required by `twitter-emotion-recognition`.

Perhaps you first try locally on your computer with a new empty pip virtual environment and then figure it out on colab?

[2021-05-14 16:05] BingyiWu1990 commented on #27
Can I use the same installation codes for my local environment in Jupyter Lab?

[2021-05-14 16:14] nikicc commented on #27
I don't see why not.

[2021-05-14 22:59] BingyiWu1990 commented on #27
Hi Niki, I think I might need more helps for installing the packages in my local environment. I have been experimenting in Jupyter Lab under Windows 10 system. However, I keep receiving the following warnings and errors, which I don't know what I did wrong. Here are all the codes I am using:

[code]

Here are the outputs I got after trying to install the required packages:
[code]

Sorry for the ma

[2021-05-14 23:46] BingyiWu1990 commented on #27
I accidentally closed the issue. Sorry about that!
Another update from me.

Then I tried to install packages without specifying the versions, it seems to work for me now.
[code]

But I got the following warning:
[code]

Is that gonna be ok to use the model?

[2021-05-16 13:35] nikicc commented on #27
Attempting uninstall: h5py
    Found existing installation: h5py 2.10.0
    Uninstalling h5py-2.10.0:
      Successfully uninstalled h5py-2.10.0
    Running setup.py install for h5py: started
    Running setup.py install for h5py: finished with status 'error'
  Rolling back uninstall of h5py
  Moving to c:\users\bingy\anaconda3\lib\site-packages\h5py-2.10.0.dist-info\
   from C:\Users\bingy\anacon

[2021-05-16 16:42] BingyiWu1990 commented on #27
Hi Niki,

Thank you so much for your replies.

I think that I installed the required versions somehow even with a bunch of warnings and errors received.
That is why it is working when I installed them again without specifying versions. It shows everything has been satisfied.

I installed m2w64-toolchain later, and the warning is gone (YEAH)! For speeding up the computation, I installed `theano.gpu

[2021-05-17 08:19] nikicc commented on #27
@BingyiWu1990 happy to hear it works.

[2021-05-17 08:19] #27 closed

[2021-06-11 09:07] inder9999 opened #28 "ValueError: ('Unrecognized keyword arguments:', dict_keys(['input_dtype']))"
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-e29b2c6a0e65> in <module>()
----> 1 model = EmotionPredictor(classification='ekman', setting='mc')

20 frames
/content/drive/MyDrive/emotion_models/twitter-emotion-recognition-master_2/twitter-emotion-recognition/emotion_predictor.

[2021-06-11 09:10] nikicc commented on #28
Hmm, not sure. The first thing I'd check is if the version of Theano is exactly the same as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt#L10) file.

[2021-06-11 09:14] inder9999 commented on #28
The version of Theano is the same as specified in requirements i.e. (1.0.4)

[2021-06-11 09:20] nikicc commented on #28
Also, can you double check that backend in Keras is set to Theano, not TensorFlow? See how we do it in [demo.py](https://github.com/nikicc/twitter-emotion-recognition/blob/master/demo.py#L1-L2) or [check this tutorial](https://www.tutorialspoint.com/keras/keras_backend_configuration.htm).

[2021-06-11 09:32] inder9999 commented on #28
Yes, the backend is set to Theano as done in demo.py

[2021-06-11 09:42] nikicc commented on #28
@inder9999 I'm running out of ideas. Did you try to google the error?

[2021-06-11 09:46] inder9999 commented on #28
@nikicc please check this
https://stackoverflow.com/questions/60791067/valueerror-unrecognized-keyword-arguments-dict-keysragged-while-loa

[2021-06-13 07:43] inder9999 commented on #28
@nikicc did you find any way ?

[2021-06-13 09:29] nikicc commented on #28
@inder9999 sorry, no 😞

[2021-06-23 03:09] assemzh commented on #28
I am facing the same problem...

[2021-06-23 06:53] assemzh commented on #28
I resolved it by using python 3.7 with venv

[2021-07-07 14:11] KerimovAzer commented on #28
Hi, did you guys come up with another solution, besides using python 3.7 with venv (somehow this did not work for me)?

[2021-09-24 06:27] xfgavin opened #29 "tensorflow version"
Hi there,

Thank you for this great library.

I wonder what tensorflow is used in this version of the library? I installed the newest one but it seemed to mess up with other required libraries.

Meanwhile, is it a better idea to put tensorflow version into requirements.txt?

[2021-09-24 09:50] nikicc commented on #29
Hi @xfgavin!

No, the code uses Theano backend, not Tensorflow. See [requirements file](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt#L10) for exact versions and make sure you set the backed to Theano in Keras (e.g. check [the demo script](https://github.com/nikicc/twitter-emotion-recognition/blob/master/demo.py#L1-L2) for how we do it there).

Not sure we can

[2021-09-24 09:50] #29 closed

[2021-09-25 00:59] xfgavin commented on #29
Thank you.

I was running the code on databricks, not sure if it was because the environ code didn't work?
Any hints on how to use it on databricks?

[2021-09-25 02:18] xfgavin commented on #29
OK, I made it working, just need to place environ call before importing the model.

[2021-09-27 10:02] nikicc commented on #29
@xfgavin happy to hear you could make it work.

[2021-11-30 16:18] davideiov commented on #28
sorry, how do you resolved this issue? i have the same problem with python 3.8

[2021-11-30 16:44] nikicc commented on #28
@davideiov what I suggest you to check these first:
* the versions of of all dependencies should be exactly the same as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file.
* double check that backend in Keras is set to Theano, not TensorFlow? See how we do it in [demo.py](https://github.com/nikicc/twitter-emotion-recognition

[2021-11-30 17:29] davideiov commented on #28
@nikicc can u tell me pls the version of tensorflow used for model's training? because it isn't in the requirements file

[2021-11-30 17:32] nikicc commented on #28
@davideiov the models do not work with Tensorflow (this is why it's not in the requirements file) but with Theano==1.0.4. Check how we set the backend in [demo.py](https://github.com/nikicc/twitter-emotion-recognition/blob/master/demo.py#L1-L2) or [check this tutorial](https://www.tutorialspoint.com/keras/keras_backend_configuration.htm).

[2021-12-11 02:23] wselina opened #30 "TypeError: Unknown parameter type: <class 'theano.tensor.var.TensorVariable'>"
[code]

[2021-12-13 11:09] nikicc commented on #30
Hmm, not sure. The first thing I'd check is if the version of Theano is exactly the same as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt#L10) file. Also, make sure all the other dependencies are installed and match the versions exactly.

[2021-12-13 22:27] wselina commented on #30
Yes, I installed everything exactly as stated in the requirements. Also tried installing the dependencies without the specified versions, but it didn't work.

[2022-01-21 10:47] BrittaRude opened #31 "Installation"
Hi,

I am trying to installl the package, but am not sure how. I tried *pip install* and *pip install git* but I get an error message. Could you maybe help me out here?

Thank you and Best,
Britta

[2022-01-21 13:32] nikicc commented on #31
Hi @BrittaRude!

Unfortunately, this package is not on pip 😏  You would need:
* to clone the repository into a local file system,
* go into the root folder (i.e. [this folder](https://github.com/nikicc/twitter-emotion-recognition))
* run `pip install -r requirements.txt` to install all the dependencies
* run `python demo.py` to run our example script.

Hope this helps, let me know how it goes or i

[2022-01-21 13:32] #31 closed

[2022-04-21 01:07] mareloraby commented on #30
I've got the same issue while working on google colab.

[2022-05-18 05:56] enfeizhan commented on #28
Hey guys. Thanks to @assemzh 's report, I have discovered you need to start with a clean Python virtual environment with **Python 3.7** and then install the dependencies with
[code]
Solves my problems.

Thanks @nikicc for sharing! Is it possible to upgrade the dependencies as many of them are quite outdated?

[2022-05-18 19:24] nikicc commented on #28
Happy to hear this!

That would be quite a challenge. I'll think about it, but I don't promise anything.

[2022-05-18 19:24] nikicc commented on #28
Happy to hear this!

That would be quite a challenge. I'll think about it, but I don't promise anything.

[2022-05-18 19:24] nikicc commented on #28
Happy to hear this!

That would be quite a challenge. I'll think about it, but I don't promise anything.

[2022-08-23 12:39] ArkajyotiChakraborty commented on #28
Hey, I tried installing the requirements but still, it's not working. Anyone can suggest anything i need urgent help.

[2022-08-23 13:02] nikicc commented on #28
@ArkajyotiChakraborty a likely cause for this is the wrong version of dependencies, or wrong Keras backend. I'd check these two:

* the versions of of all dependencies should be exactly the same as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt) file.
* double check that backend in Keras is set to Theano, not TensorFlow? See h

[2022-09-23 17:10] nicoosynth opened #33 "installing requirements"
Hi,
I am facing an error message when trying to run pip install -r requirements.txt. Do you have any suggestions on how to solve this?

here are some fragments from the error message:

 ERROR: Command errored out with exit status 1:
     command: /Users/nicolasseiler/Desktop/twitter-emotion-original/twitter-emotion-recognition-master/venv/name1/bin/python3 -u -c 'import sys, setuptools, tokenize;

[2022-09-27 08:41] nikicc commented on #33
Hi @nicoosynth. Not sure, but the first thing I'd check is if the version of Theano is exactly the same as specified in the [requirements.txt](https://github.com/nikicc/twitter-emotion-recognition/blob/master/requirements.txt#L10) file. Also, make sure all the other dependencies are installed and match the versions exactly.